<div class="container">

  <h3><%= @cocktail.name %></h3>

<% if @cocktail.photos? %>

  <div class="image-cocktail">
    <% @cocktail.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
    <% end %>
  </div>

<% end %>


    <% @cocktail.doses.each do |dose|%>
      <ul class="list-inline">
          <li><%= dose.description %></li>
          <li><%= dose.ingredient.name %></li>

          <%= link_to "➖", dose_path(dose), method: :delete , class: "btn btn-danger"%>

      </ul>

    <% end %>




  <hr>

  <%= render 'doses/form' %>
</div>

