<div class="container">

  <h3><%= @cocktail.name %></h3>



    <% @cocktail.doses.each do |dose|%>
      <% @product.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
      <p><%= dose.description %></p>
      <p><%= dose.ingredient.name %></p>
      <%= link_to "delete", dose_path(dose), method: :delete %>
    <% end %>





  <hr>

  <%= render 'doses/form' %>
</div>

